@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.LocationsBanner {
  font-family: "Inter";
  @include onlyIn(desk) {
    width: 90%;
  }
  @include onlyIn(mob) {
    width: 94%;
  }
  display: block;
  margin: 25px auto 0 auto;
  max-width: 1378px;
  img {
    width: 100%;
    height: auto;
  }
}

// // desk mov xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
