@import "/src/styles/variables";

:export {
  //----------------------Green
  colorGreen: $colorGreen;
  colorGreen1: $colorGreen1;
  colorGreen2: $colorGreen2;
  colorGreen3: $colorGreen3;
  colorGreen4: $colorGreen4;
  colorGreen5: $colorGreen5;
  colorGreen6: $colorGreen6;
  colorGreen7: $colorGreen7;
  colorGreen8: $colorGreen8;
  colorGreen9: $colorGreen9;
  colorGreen10: $colorGreen10;
  colorGreen11: $colorGreen11;
  colorGreen12: $colorGreen12;
  colorGreen13: $colorGreen13;
  colorGreen14: $colorGreen14;
  colorGreen15: $colorGreen15;
  colorGreen16: $colorGreen16;
  colorGreen17: $colorGreen17;
  colorGreen18: $colorGreen18;
  colorGreen19: $colorGreen19;
  colorGreen20: $colorGreen20;

  //----------------------Purple
  colorPurple: $colorPurple;
  colorPurple1: $colorPurple1;
  colorPurple2: $colorPurple2;
  colorPurple3: $colorPurple3;
  colorPurple4: $colorPurple4;
  colorPurple5: $colorPurple5;
  colorPurple6: $colorPurple6;
  colorPurple7: $colorPurple7;
  colorPurple8: $colorPurple8;
  colorPurple9: $colorPurple9;
  colorPurple10: $colorPurple10;
  colorPurple11: $colorPurple11;
  colorPurple12: $colorPurple12;
  colorPurple13: $colorPurple13;
  colorPurple14: $colorPurple14;
  colorPurple15: $colorPurple15;
  colorPurple16: $colorPurple16;
  colorPurple17: $colorPurple17;
  colorPurple18: $colorPurple18;
  colorPurple19: $colorPurple19;
  colorPurple20: $colorPurple20;

  //----------------------Dark
  colorDark1: $colorDark1;
  colorDark2: $colorDark2;
  colorDark3: $colorDark3;
  colorDark4: $colorDark4;
  colorDark5: $colorDark5;
  colorDark6: $colorDark6;
  colorDark7: $colorDark7;
  // ---Default
  colorDark: $colorDark;

  //----------------------Light
  colorLight1: $colorLight1;
  colorLight2: $colorLight2;
  colorLight3: $colorLight3;
  colorLight4: $colorLight4;
  colorLight5: $colorLight5;
  colorLight6: $colorLight6;
  colorLight7: $colorLight7;
  // ---Default
  colorLight: $colorLight;
}
