@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.Home {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  background-image: url(/images/generalBackground.svg);
  background-size: 100% 900px;
  background-repeat: repeat;

  .ProductSlider {
    margin: 30px auto;
  }

  .marginBanner {
    @include onlyIn(desk) {
      width: 90%;
    }
    @include onlyIn(mob) {
      width: 94%;
    }
    display: block;
    margin: 25px auto 0 auto;
    max-width: 1350px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .SocialBanner {
    margin-top: 35px;
  }
  .NuestrosPosts {
    margin-top: 35px;
  }
}
