@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.Home {
  font-family: "Inter";
  margin: 0;
  padding: 0;

  .ReduxTester {
    @include onlyIn(xl) {
      background-color: plum;
    }
  }
  @include onlyIn(lg) {
    background-color: #f28181;
  }
}
