@import '/src/styles/variables';
@import '/src/styles/animations';
@import '/src/styles/utils';

.Err404 {
      font-family: 'Inter';
}

// // desk mov xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
