@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.Navbar {
  font-family: "Inter";
}

//-----------------ExampleCont
.ExampleCont {
  .someContainer {
    font-family: "Inter";
  }
  &-desktop {
    .someContainer {
      font-family: "Inter";
    }
  }
  &-mobile {
    .someContainer {
      font-family: "Inter";
    }
  }
  &-sm {
    .someContainer {
      font-family: "Inter";
    }
  }
  &-lg {
    // xs sm md lg xl xxl
    .someContainer {
      font-family: "Inter";
    }
  }
}
