@import "/src/styles/variables";
@import "/src/styles/animations";
@import "/src/styles/utils";

.ProductCard {
  margin: 0 auto;
  .tagDiscount {
    background-color: #ff0000;
    color: $colorLight1;
    border-radius: 15px;
    width: 50px;
    position: relative;
    top: 15px;
    left: 150px;
    padding: 4px;
    text-align: center;
    font-weight: 600;
  }
  p {
    font-size: 24px;
    font-weight: 500;
    width: 70%;
    margin: auto;
  }
}

// // desk mov xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
