// ---Dependencies
import { component$ } from '@builder.io/qwik';


/**
 * {{pascalCase name}} Component:  Descripción del comportamiento...
 */
export const {{pascalCase name}} = component$(() =>  {
  // -----------------------CONSTS, HOOKS, STATES
  // -----------------------MAIN METHODS
  // -----------------------AUX METHODS
  // -----------------------RENDER
  return (
    <div class="{{pascalCase name}}">
      <p>{{pascalCase name}}</p>
    </div>
  );
})